In [1]:
## This repo: https://github.com/ReagentX/purple_air_api/

import pandas as pd
import purpleair as pa
import datetime as dt

In [2]:
from purpleair.network import SensorList
p = SensorList()

Initialized 16,991 sensors!

In [4]:
df = p.to_dataframe(sensor_filter='outside', # or 'all'
                    channel='parent')

df.head()
df.shape

(12851, 43)

In [5]:
df.to_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Getting data\\PA_outside.csv")

In [5]:
df.columns

Index(['10min_avg', '1day_avg', '1hour_avg', '1week_avg', '30min_avg',
       '6hour_avg', 'adc', 'age', 'brightness', 'created', 'downgraded',
       'flagged', 'hardware', 'hidden', 'humidity', 'is_owner', 'last_seen',
       'last_update_check', 'lat', 'location_type', 'lon', 'model', 'name',
       'p_0_3_um', 'p_0_5_um', 'p_10_0_um', 'p_1_0_um', 'p_2_5_um', 'p_5_0_um',
       'parent', 'pm10_0_atm', 'pm10_0_cf_1', 'pm1_0_atm', 'pm1_0_cf_1',
       'pm2_5_atm', 'pm2_5_cf_1', 'pm_2.5', 'pressure', 'rssi', 'temp_c',
       'temp_f', 'uptime', 'version'],
      dtype='object')

In [59]:
## Getting all sensors in CA:

# CA_locs = pd.read_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Intermediate data\\PA_CA_locations_with_IDs.csv")
# CA_locs.shape # 9,155 rows

CA_locs = pd.read_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Getting data\\NN_PA_AQS.csv")
CA_locs.head()

          Lon        Lat  Site.ID  Parameter  PA.ID      Dist
0 -122.169935  37.743065        9      88101  41399  0.337386
1 -122.282347  37.814781       11      88101  26977  0.151227
2 -122.302741  37.864767       13      88101  63161  0.200170
3 -119.773210  36.785380       11      88101   6568  0.021083
4 -119.716433  36.819449     5001      88101  18647  0.054847

In [99]:
ids = list(set(CA_locs["PA.ID"]))
# len(ids)
ids

[12288,
 2305,
 73219,
 1928,
 48393,
 9354,
 65421,
 15633,
 93329,
 8338,
 8082,
 73109,
 5016,
 8858,
 55707,
 13469,
 85917,
 16541,
 2717,
 11424,
 7966,
 44707,
 16673,
 6568,
 50601,
 2350,
 8246,
 41399,
 63161,
 1854,
 16703,
 6848,
 53825,
 16705,
 2368,
 40001,
 12741,
 70727,
 12743,
 14283,
 9296,
 14545,
 69201,
 17107,
 48339,
 77269,
 18647,
 31323,
 26977,
 17121,
 16741,
 6886,
 52071,
 84601,
 9594,
 18683]

In [102]:
ids.index(9594)

54

In [65]:
## Testing from one sensor:

start = dt.datetime.now()

se = pa.sensor.Sensor(61200)

h = se.parent.get_historical(weeks_to_get=1,
                            start_date = dt.datetime.strptime("2021-01-01", "%Y-%m-%d"),
                             thingspeak_field='primary')
end = dt.datetime.now()

end-start

Child sensor requested, acquiring parent instead.

datetime.timedelta(0, 2, 254608)

In [37]:
# sensors_16 = []

# for s in CA_locs["ID"][1:100]:
#     se = pa.sensor.Sensor(s)
#     h = se.parent.get_historical(weeks_to_get=1,
#                             start_date = dt.datetime.strptime("2016-07-22", "%Y-%m-%d"),
#                              thingspeak_field='primary')
#     if not h.empty:
#         sensors_16.append(s)

In [111]:
## Get 2020 data instead: 
data = pd.DataFrame(columns = h.columns)
data["ID"] = []

for s in ids:
    se = pa.sensor.Sensor(s)
    print(ids.index(s))
    for i in range(1,13):
        h = se.parent.get_historical(weeks_to_get=1,
                                start_date = dt.datetime.strptime("2020-" + str(i) + "-19", "%Y-%m-%d"), #straddles 15th of each month
                                 thingspeak_field='primary')
        h["ID"] = s
        data = data.append(h)

data.to_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Getting data\\PA_2020_NNs.csv")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [112]:
data.head()
data.tail()

,created_at,PM1.0 (CF=1) ug/m3,PM2.5 (CF=1) ug/m3,PM10.0 (CF=1) ug/m3,UptimeMinutes,ADC,Temperature_F,Humidity_%,PM2.5 (CF=ATM) ug/m3,ID
90788,2020-12-18 23:51:31,2.47,4.16,5.00,60187.0,-66.0,46.0,48.0,4.16,18683.0
90789,2020-12-18 23:53:31,2.09,3.36,5.15,60189.0,-65.0,46.0,49.0,3.36,18683.0
90790,2020-12-18 23:55:31,3.38,5.73,6.09,60191.0,-62.0,45.0,49.0,5.73,18683.0
90791,2020-12-18 23:57:31,2.98,5.57,6.79,60193.0,-63.0,45.0,49.0,5.57,18683.0
90792,2020-12-18 23:59:31,5.05,7.36,8.46,60195.0,-65.0,46.0,49.0,7.36,18683.0