In [1]:
## This repo: https://github.com/ReagentX/purple_air_api/

import pandas as pd
import purpleair as pa
import datetime as dt

In [2]:
from purpleair.network import SensorList
p = SensorList()

Initialized 22,203 sensors!

In [3]:
df = p.to_dataframe(sensor_filter='outside', # or 'all'
                    channel='parent')

df.columns
df.head()
df.shape

(16360, 43)

In [4]:
## Save IDs of PA sensors that are outdoors:
df.to_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Getting data\\PA_outside.csv")

In [6]:
## Getting sensors in CA that are collocated with AQS monitors:
CA_locs = pd.read_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Getting data\\NN_PA_AQS_50m-outdoor.csv")
CA_locs.head()

          Lon        Lat  Site.ID  Parameter  PA.ID      Dist
0 -119.773210  36.785380       11      88101   6568  0.021083
1 -115.539170  32.978330        7      88101  77269  0.016803
2 -118.330783  37.360684        2      88101  17107  0.007901
3 -117.871036  36.487823     1003      88101  13469  0.028659
4 -119.062613  35.356615       14      88101   2350  0.000620

In [7]:
ids = list(set(CA_locs["PA.ID"]))
len(ids)

35

In [8]:
ids.index(9594)

34

In [22]:
import inspect

se = pa.sensor.Sensor(61200)

# se.parent.get_historical.__code__.co_varnames
inspect.getfullargspec(se.parent.get_historical)

Child sensor requested, acquiring parent instead.

FullArgSpec(args=['self', 'weeks_to_get', 'thingspeak_field', 'start_date'], varargs=None, varkw=None, defaults=(datetime.datetime(2022, 1, 11, 15, 33, 35, 635294),), kwonlyargs=[], kwonlydefaults=None, annotations={'return': <class 'pandas.core.frame.DataFrame'>, 'weeks_to_get': <class 'int'>, 'thingspeak_field': <class 'str'>, 'start_date': <class 'datetime.datetime'>})

In [25]:
# ## Testing for one sensor:

# start = dt.datetime.now()

# se = pa.sensor.Sensor(61200)

# h = se.parent.get_historical(weeks_to_get=5,
#                             start_date = dt.datetime.strptime("2021-01-01", "%Y-%m-%d"),
#                              thingspeak_field='primary')
# end = dt.datetime.now()

# dt.timedelta.total_seconds(end-start) # 1 week = 1.247s, 5 weeks = 7.540s

Child sensor requested, acquiring parent instead.

7.540086

In [26]:
# ## Get middle of each month from 2020: 
# data = pd.DataFrame(columns = h.columns)
# data["ID"] = []

# for s in ids:
#     se = pa.sensor.Sensor(s)
#     print(ids.index(s))
#     for i in range(1,13):
#         h = se.parent.get_historical(weeks_to_get=1,
#                                 start_date = dt.datetime.strptime("2020-" + str(i) + "-19", "%Y-%m-%d"), #straddles 15th of each month
#                                  thingspeak_field='primary')
#         h["ID"] = s
#         data = data.append(h)

# data.to_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Getting data\\PA_2020_NNs.csv")

In [38]:
ids[34:35]

[9594]

In [40]:
# ## Get all data from 2020, from the nearest neighbor LCS to the AQS (within 50m).
# data = pd.DataFrame(columns = h.columns)
# data["ID"] = []

# for s in ids[10:35]: # sensor 9 didn't have data, so had to restart in the middle
#     se = pa.sensor.Sensor(s)
#     print(ids.index(s))
    
#     h = se.parent.get_historical(weeks_to_get=53,
#                                 start_date = dt.datetime.strptime("2021-01-01", "%Y-%m-%d"), 
#                                  thingspeak_field='primary')
#     h["ID"] = s
#     data = data.append(h)

# # data.to_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Getting data\\PA_2020_NNs.csv")
print("")

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

In [41]:
# data.head()
data.to_csv("C:\\Users\\ellen\\OneDrive\\MyDocs\\Graduate Research\\Low-cost AQ sensor epi\\Getting data\\PA_2020_NNs_new2.csv")

In [42]:
data.head()
data.tail()

,created_at,PM1.0 (CF=1) ug/m3,PM2.5 (CF=1) ug/m3,PM10.0 (CF=1) ug/m3,UptimeMinutes,ADC,Temperature_F,Humidity_%,PM2.5 (CF=ATM) ug/m3,ID
326760,2019-12-26 23:50:42,0.0,0.0,0.00,33517.0,-73.0,63.0,41.0,0.0,9594.0
326761,2019-12-26 23:52:42,0.0,0.0,0.00,33519.0,-73.0,64.0,41.0,0.0,9594.0
326762,2019-12-26 23:54:42,0.0,0.0,0.00,33521.0,-73.0,63.0,41.0,0.0,9594.0
326763,2019-12-26 23:56:42,0.0,0.0,0.00,33523.0,-73.0,64.0,41.0,0.0,9594.0
326764,2019-12-26 23:58:42,0.0,0.0,0.04,33525.0,-74.0,64.0,41.0,0.0,9594.0